/* GENERAL */

* {
    box-sizing: border-box;
}
html {
    height: 100vh;
}

body {
    min-width: 480px;
    width: 40vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#container{
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

.item{
    text-align: center;
    font-size: 1.0rem;
}
.small {
    font-size: 0.75rem;
}

form div{ 
    padding: 16px 0px;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}

label{
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    flex-grow: 1;
}
input{
    height: 30px;
    width: 240px;
    margin: auto;
    padding-left: 8px;
}

input[type=text], input[type=number] {
    border-width: 0 0 1px 0;
    border-color: cornflowerblue;
    padding-bottom: 3px;
}

input[type=text]:focus, input[type=number]:focus {
    border-width: 0 0 3px 0;
    padding-bottom: 1px;
}

button {
    padding: 8px 16px;
    float: right;
}


#login_div form {
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-content: center
}

#clock {
    text-align: center;
    font-size: 3rem;
}

#timezone {
    text-align: center;
}


nav {
    height: 10%;
    width: 100%;
    position: static;
    border-bottom: 3px solid cornflowerblue;
    border-top-width: 0;
}
nav ul {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 8px 16px;
    margin: 0;
}

nav ul li {
    list-style-type: none;
    display: inline-flex;
    padding: 1em 2em;
}

form h4 {
    padding-left: 32px;
}

form button {
    align-self: flex-end;
    margin: 8px;
}
form input {
    margin: 8px;
}
@media only screen and (max-width: 1000){
    body {
        width: 50vw;
    }
}



@media only screen and (max-width: 800px) {
    body {
      width:60vw;
    }
  }

@media only screen and (orientation: portrait) {
    body {
      width: 100%;
      margin-bottom: 15%;
    }

    nav {
        position: fixed;
        width: 100%;
        height: 10%;
        border-top: 3px solid cornflowerblue;
        border-bottom-width: 0;
        background-color: white;
        bottom: 0;
    }

    input {
        font-size: 1.5rem;
        width: auto;
        flex-grow: 1;
    }

    #container {
      justify-content: flex-start;
    }

    form div{
        flex-direction: column;
        justify-content: center;
    }

    label {
        font-size: 1.5rem;
        padding-bottom: 8px;
    }
    button {
        padding: 8px 32px;
        font-size: 1.5em;
    }
}

